#Admin {
    background-color: gray;
    justify-content: center;
    min-height: 100vh;
}

#Admin-header {
    padding-top: 2vh;
    padding-left: 4%;
    padding-right: 5%;
}

#Admin-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0px 50px 10px 50px;
}

#Admin-drafts {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0px 50px 10px 50px;
}

.Admin-image {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 10px;
    width: 150px;
    height: 240px;
    background-color: rgb(59, 59, 59);
}

.Admin-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensures overlay is above everything */
}

.Admin-overlay-content {
    background-color: white;
    color: black;
    width: 25%;
    height: 70%;
    padding: 20px;
    cursor: default;
    margin-right: 10%;
    position: relative;
    overflow-y: auto;
}

.Admin-overlay-preview {
    background-color: white;
    width: 25%;
    height: 70%;
    color: black;
    padding: 20px;
    position: relative;
    overflow-y: auto;
}

.Input-row {
    display: flex;
    margin-bottom: 5px;
}

.Input-row textarea {
    width: 300px;
    height: auto;
    min-height: 100px;
    resize: none;
}

.Input-title {
    margin: 0px;
    margin-right: 5px;
}

#Exit-button {
    background-color: rgb(255, 152, 152);
    border-radius: 10px;
    font-size: large;
}

#Save-button {
    background-color: rgb(143, 255, 143);
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: large;
}

#Delete-button {
    background-color: rgb(255, 152, 152);
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: large;
}

.Admin-overlay h1 {
    text-align: center;
}

.Admin-title {
    margin-left: 80px;
    color: black;
}

#New-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: black;
    user-select: none;
    cursor: pointer;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 10px;
    width: 150px;
    height: 240px;
    background-color: rgb(179, 179, 179);
}

#New-button:hover {
    background-color: lightgray;
}