html {
    scroll-behavior: smooth;
    color: white;
}

.App {
    text-align: center;
    background-color: #c46e08;
    font-family: 'Playwrite DE Grund', sans-serif;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: #5a3015;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: #9d5425;
}

::-webkit-scrollbar-thumb:hover {
    background: #3d200e;
}