.Link-button {
    /* background-color: transparent;
    border-color: transparent; */
    color: black;
    text-decoration-line: none;
    font-family: 'Playwrite DE Grund', sans-serif;
    font-size: 18px;
}


.Link-button:hover {
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.Season-padding {
    /* background-color: white; */
}

.Season {
    margin-left: 1%;
    margin-right: 1%;
    border: 3px solid transparent; 
    border-radius: 10px;
    border-color: black;
    background-color: white;
}

#Fall {
    background-color: rgb(184, 95, 11);
}

#Winter {
    background-color: rgb(100, 144, 209);
}

#Spring {
    background-color: rgb(207, 187, 0);
}

#Summer {
    background-color: rgb(184, 95, 11);
}

.Season-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.Season-container::-webkit-scrollbar-track {
    border-radius: 5px;
}
