.Padder {
  padding-left: 5%;
  padding-right: 5%;
}

.Return-button {
  position: fixed;
  top: 10px;
  height: 50px;
  width: 50px;
  left: 50%;
  background-color: rgba(0, 0, 0);
  color: white;
  border: none;
  border-radius: 100%;
  text-decoration-line: none;
  font-size: 22px;
  transform: translate(-50%);
  opacity: 0;
  transition: opacity 0.5s ease, visibility 1s ease;
  visibility: hidden;
}

.Return-button.show {
  opacity: 0.45;
  visibility: visible;
}

.Return-button:hover {
  opacity: 0.85;
}

#App-header {
  background-color: #c46e08;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2vh;
  padding-left: 4%;
  padding-right: 5%;
}

.App-header-text {
  text-align: left;
  display: flex;
  flex-direction: row;
}

#Title-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#Section-1 {
  display: flex;
  align-items: center;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}

#Section-2 {
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}

.Thirds {
  display: flex;
  justify-content: center;
}

.Third-div {
  width: 33%;
}

#Sect1TextContainer {
  margin: 15%
}

.Half-div {
  width: 50%;
  height: 400;
}

#Section-4 {
  background-color: white;
  height: 50vh;
}