#SeasonPage {
    justify-content: center;
    background-color: #c46e08;
    min-height: 100vh;
    font-family: 'Playwrite DE Grund', sans-serif;
}

#SeasonPage-header {
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-top: 2vh;
    padding-left: 4%;
    padding-right: 5%;
}

#Title {
    color: white;
    text-align: center;
}

#Item-map {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 67vh;
}